      * {
         margin: 0px;
         padding: 0px;
      }

      .header {
         width: 100%;
         height: 40px;
         background-color: black;
         color: white;
         overflow-wrap: anywhere;
         padding: 10px;
         text-align: center;
      }

      .bgimage {
         width: 100%;
         height: 600px;

         background: url("https://baroque.pk/cdn/shop/files/MAin_BAnner60_33b3177a-878c-4486-8b78-6b85bd4b4ac5.jpg?v=1727444075&width=1400");
      }

      .imagecontent {
         width: 100%;
         height: 80px;
         display: flex;
      }

      .icon1 {
         width: 30%;
         margin-left: 10px;
      }

      .icon1 i {
         padding-top: 15px;
         padding-left: 13px;
      }

      .icon2 {
         width: 40%;
         display: flex;
         justify-content: center;

      }

      .icon3 {
         width: 25%;
         display: flex;
      }

      .icon3 p {
         padding-top: 25px;
         padding-left: 130px;
      }

      .icon3 div {
         padding-top: 20px;
         padding-left: 15px;
         gap: 5px;
         display: flex;
         justify-content: space-evenly;
      }

      .imagecontent:hover {
         background-color: white;

      }

      .buton {
         width: 100%;
         height: 500px;
      }

      .button {
         height: 50px;
         width: 170px;
         color: black;
         background-color: white;
         border: 1px solid white;
         position: relative;
         top: 400px;
         left: 600px;
      }

      .button:hover {
         background-color: rgba(0, 0, 0, 0.5);
         color: white;
         transition: 1s;
         transform-origin: top left;

      }

      .shopping {
         width: 100%;
         /* height: auto; */
         margin-top: 60px;


      }

      .bazaar {
         width: 100%;
         height: auto;
         display: flex;
         justify-content: space-evenly;
         text-align: center;

      }

      .bazaar h2 {
         margin-top: 40px;
      }

      .bazaar button {
         height: 50px;
         width: 170px;
         color: white;
         background-color: black;
         border: 1px solid black;
         margin-top: 40px;
      }

      .bazaar button:hover {
         background-color: white;
         color: black;
         transition: 1s;
         transform-origin: top left;

      }

      .bazaar img {
         overflow: hidden;
         display: inline-block;
         position: relative;

      }

      .bazaar img:hover {
         transition: 0.5s;
         /* box-shadow: 0px 0px 10px 10px grey; */
         transform: scale(1.2);
      }

      .section {
         margin-top: 30px;
      }

      .heading {
         font-size: 40px;
         text-align: center;
         margin-top: 60px;
      }

      .shop {
         width: 100%;
         height: auto;
         display: flex;
         position: relative;
         margin-top: 50px;
      }

      .lock {
         width: 1200px;
         height: auto;
         display: flex;
         justify-content: space-around;
         position: relative;
         margin-left: 100px;
      }

      .sock {
         text-align: center;
         position: relative;
         margin-top: 70px;
      }

      .shop button {
         height: 50px;
         width: 170px;
         color: white;
         background-color: black;
         border: 1px solid black;
         margin-top: 40px;
      }

      .shop p {
         position: relative;
         margin-top: 25px;
      }

      .shop button:hover {
         background-color: white;
         color: black;
         transition: 1s;
         transform-origin: top left;

      }

      .sock img:hover {
         /* <img src="https://baroque.pk/cdn/shop/files/63_a3f2157f-b32a-4702-8f1a-158ff0b1321e.jpg?v=1726904748&width=800" > */
         transition: 1s;
         box-shadow: 0px 0px 10px 10px grey;
         transform: scale(1.2);
      }

      .video {
         width: 100%;
         height: auto;
         margin-top: 20px;
         padding: 0;
         display: flex;
         justify-content: space-evenly;
      }

      .quality {
         width: 1200px;
         height: 500px;
         display: flex;
         justify-content: space-between;
      }

      .video button {
         height: 50px;
         width: 170px;
         color: white;
         background-color: black;
         border: 1px solid black;
         margin-top: 40px;
      }

      .line {
         position: relative;
         top: 60px;
      }
      .news{
         position: relative;
         top: 90px;
         text-align: center;
      }
      .newss{
         position: relative;
         top: 100px;
      }
      .news button {
         height: 30px;
         width: 170px;
         color: white;
         background-color: black;
         border: 1px solid black;
         margin-top: 40px;
      }
      .news button:hover {
         background-color: white;
         color: black;
         transition: 1s;
         transform-origin: top left;

      }
      .last{
         width: 100%;
         height: 200px;
         position: relative;
         top: 100px;
         display: flex;
         justify-content: space-evenly;
      }
      .l1{
         width: 20%;
         height: 200px;
         position: relative;
         left: 40px;
      }
      .last i{
         position: relative;
         top: 40px;
         left: 110px;
      }
      .last p{
         position: relative;
         top: 60px;
         text-align: center;
      }
      .linee {
         position: relative;
         top: 100px;
      }
      .l2{
         width: 20%;
         height: 250px;
         position: relative;
         top: 150px;
         left: 40px;
         display: flex;
         flex-direction: column;
         gap: 20px;
      }
      /* .l2 a{
         color: #DDDDFF;
      } */
      .l3{
         width: 100%;
         display: flex;
         justify-content: space-around;
      }
      .logos{
         position: relative;
         top: 140px;
         left: 130px;
         display: flex;
         gap: 20px;
      }